include *.sh
include *.txt
include .dockerignore
include .editorconfig
include .inveniorc
include cernopendata_fixtures/data/cms/cms-vm-contextualisation-scripts/cernvm-script
include cernopendata_fixtures/data/cms/cms-vm-contextualisation-scripts/opendata-desktop-settings
include pytest.ini
recursive-include cernopendata_fixtures *.cc
recursive-include cernopendata_fixtures *.configFile
recursive-include cernopendata_fixtures *.gz
recursive-include cernopendata_fixtures *.json
recursive-include cernopendata_fixtures *.ova
recursive-include cernopendata_fixtures *.pdf
recursive-include cernopendata_fixtures *.py
recursive-include cernopendata_fixtures *.root
recursive-include cernopendata_fixtures *.txt
recursive-include cernopendata_fixtures *.xml
